n8n-workshop/Sample/Line_Messaging_Chat__basic_.json
{
  "name": "Line Messaging Chat (basic)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('Webhook from Line Messaging API').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{ $json.output }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "5e8372ed-99c4-4e2e-8017-c410e66d5496",
      "name": "Line : Reply with token",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        480,
        150
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "YfMDbuvSDAc89lE1",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b63773bb-f010-4018-8142-240c9aaa4570",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.body.events[0].type }}",
              "rightValue": "message"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4b25f279-20a7-4cd0-95b2-fe6f3e68cc6f",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -520,
        150
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": "qwen3:14b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -300,
        370
      ],
      "id": "64b935f3-fecc-4a3d-8aa1-4e6e0152ddb5",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "kGcH2MwM2gSteUy8",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook from Line Messaging API').item.json.body.events[0].message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You're a gentleman assistant named \"รุ่ยเจี๋ย\"\n\nYou are a highly skilled software engineer and ready to help user achieve anything they asked.\n\nToday is {{ $now.toLocal().format('yyyy-MM-dd') }}\n\nEnsure that all your responses are in Thai language."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -208,
        150
      ],
      "id": "1ebfe838-706c-4c77-95c0-b469d91efec1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook from Line Messaging API').item.json.body.events[0].source.userId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -180,
        370
      ],
      "id": "d83891c5-0a30-40f7-8ce7-0e5d4d0a4ca7",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "lQXJcrElclqkizga",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output\n  .replace(/[\\u0000-\\u0009\\u000B-\\u001F\\u007F]/g, \"\")\n  .replace(/\"/g, \"'\")\n  .replace(/\\n/g, '\\\\n')\n  .trim();\n$json.output = output;\n\nreturn $json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        150
      ],
      "id": "c5153068-3f89-409c-89d0-62885b9254a5",
      "name": "Sanitize output string"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fb361e9d-e7e4-4ec4-af78-d29a384b308c",
        "options": {}
      },
      "id": "a58a6f0d-dcf7-4286-b897-5c07f64ec411",
      "name": "Webhook from Line Messaging API",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -740,
        150
      ],
      "webhookId": "fb361e9d-e7e4-4ec4-af78-d29a384b308c",
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -740,
        510
      ],
      "id": "4e7fb2c5-cea5-493c-a908-7a49bcb1f547",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "fio4mh5NIgwhEXkN",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Sanitize output string",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize output string": {
      "main": [
        [
          {
            "node": "Line : Reply with token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook from Line Messaging API": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2a2cc54b-34c9-4e77-b2c5-361e1057437f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc41a5e416b4da7a7755359c081e77884fbf538c26dd41be41c0c030b921fb0b"
  },
  "id": "7yKdBWKR1dO0EtyF",
  "tags": []
}