n8n-workshop/Sample/Line_Messaging_Chat__basic_.json
{
  "name": "Line Messaging Chat (basic)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('Webhook from Line Messaging API').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{ $json.output }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "5e8372ed-99c4-4e2e-8017-c410e66d5496",
      "name": "Line : Reply with token",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        736,
        250
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "YfMDbuvSDAc89lE1",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3:14b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -52,
        470
      ],
      "id": "64b935f3-fecc-4a3d-8aa1-4e6e0152ddb5",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "kGcH2MwM2gSteUy8",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Input').item.json.body.events[0].message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You're a gentleman assistant named \"รุ่ยเจี๋ย\"\n\nYou are a highly skilled software engineer and ready to help user achieve anything they asked.\n\nToday is {{ $now.toLocal().format('yyyy-MM-dd') }}\n\nEnsure that all your responses are in Thai language."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -80,
        250
      ],
      "id": "1ebfe838-706c-4c77-95c0-b469d91efec1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Input').item.json.body.events[0].source.userId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        68,
        470
      ],
      "id": "d83891c5-0a30-40f7-8ce7-0e5d4d0a4ca7",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "lQXJcrElclqkizga",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $json.output\n  .replace(/[\\u0000-\\u0009\\u000B-\\u001F\\u007F]/g, \"\")\n  .replace(/\"/g, \"'\")\n  .replace(/\\n/g, '\\\\n')\n  .trim();\n$json.output = output;\n\nreturn $json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        296,
        250
      ],
      "id": "c5153068-3f89-409c-89d0-62885b9254a5",
      "name": "Sanitize output string"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fb361e9d-e7e4-4ec4-af78-d29a384b308c",
        "options": {}
      },
      "id": "a58a6f0d-dcf7-4286-b897-5c07f64ec411",
      "name": "Webhook from Line Messaging API",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -740,
        150
      ],
      "webhookId": "fb361e9d-e7e4-4ec4-af78-d29a384b308c",
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -740,
        610
      ],
      "id": "4e7fb2c5-cea5-493c-a908-7a49bcb1f547",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "fio4mh5NIgwhEXkN",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -740,
        350
      ],
      "id": "47d129a5-1ea0-4a2e-a87a-1ed7f46736a4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "$input.item.json.manual = $input.item.json.manual === undefined ? false : true;\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        250
      ],
      "id": "405b78d9-67e0-457d-967c-8a86ecac651d",
      "name": "Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b63773bb-f010-4018-8142-240c9aaa4570",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.body.events[0].type }}",
              "rightValue": "message"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4b25f279-20a7-4cd0-95b2-fe6f3e68cc6f",
      "name": "Message type determine",
      "type": "n8n-nodes-base.if",
      "position": [
        -300,
        250
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1537596-c513-4798-a9dd-007435dd4c1e",
              "leftValue": "={{ $('Input').item.json.manual }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        516,
        250
      ],
      "id": "ae6e3d60-168f-426d-a18e-3e74418f1b91",
      "name": "Is invoked via webhook?"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "headers": {
            "host": "07d4-171-97-221-146.ngrok-free.app",
            "user-agent": "LineBotWebhook/2.0",
            "content-length": "622",
            "content-type": "application/json; charset=utf-8",
            "x-forwarded-for": "147.92.150.193",
            "x-forwarded-host": "07d4-171-97-221-146.ngrok-free.app",
            "x-forwarded-proto": "https",
            "x-line-signature": "AzmS+zLA/Ks6IJgLHwo2A+yy8kxiY+5lS/7gZ5PYdXQ=",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "destination": "U4ae477bb3ba54f76e9eb52579ae4bd7e",
            "events": [
              {
                "type": "message",
                "message": {
                  "type": "text",
                  "id": "566351828640596484",
                  "quoteToken": "SjQndQlLFsrYwoLMxCufYlA5dfqJs0UGdQQglUn5ISiT5w7A-1bgkNMz3QdX3044tah2-J4y8CYSW2eB_sUZ87ZvB5S4j93qqwHJhhWLwj2LChUtGHapxIEYKPOx5YnMwljus8mFEpo1B1VWjf4pcw",
                  "text": "เช็คราคาหุ้น MSFT ให้หน่อย"
                },
                "webhookEventId": "01JY62NEVVEE9H7BTNK8QXFRTW",
                "deliveryContext": {
                  "isRedelivery": false
                },
                "timestamp": 1750403299713,
                "source": {
                  "type": "user",
                  "userId": "U0b9fc774e5cb734d015aca7364779979"
                },
                "replyToken": "96771f5e7d5c4d80a191edda924ae88c",
                "mode": "active"
              }
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook/fb361e9d-e7e4-4ec4-af78-d29a384b308c",
          "executionMode": "production",
          "manual": true
        }
      }
    ]
  },
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Sanitize output string",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize output string": {
      "main": [
        [
          {
            "node": "Is invoked via webhook?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook from Line Messaging API": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Message type determine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message type determine": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is invoked via webhook?": {
      "main": [
        [
          {
            "node": "Line : Reply with token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b352f531-0bbb-4b0e-b388-c3a77c38e5f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc41a5e416b4da7a7755359c081e77884fbf538c26dd41be41c0c030b921fb0b"
  },
  "id": "7yKdBWKR1dO0EtyF",
  "tags": []
}